In [ ]:
Analysing player 15 with the event data

In [2]:
import pandas as pd

In [3]:
player_data = pd.read_csv('../sample-data/data/Sample_Game_1/player_15_data.csv')
event_data = pd.read_csv('../sample-data/data/Sample_Game_1/Sample_Game_1_RawEventsData.csv')

In [9]:
player = "Player15"

player_events = event_data[
    (event_data["From"] == player) |
    (event_data["To"] == player)
].copy()
player_events.reset_index(drop=True, inplace=True)
player_events = player_events.iloc[:, 1:]  
player_events.head()

,Type,Subtype,Period,Start Frame,Start Time [s],End Frame,End Time [s],From,To,Start X,Start Y,End X,End Y
0,PASS,NaN,1,3,0.12,17,0.68,Player21,Player15,0.55,0.43,0.58,0.21
1,PASS,NaN,1,45,1.80,61,2.44,Player15,Player19,0.55,0.19,0.45,0.31
2,RECOVERY,INTERCEPTION,1,1374,54.96,1374,54.96,Player15,NaN,0.87,0.29,NaN,NaN
3,BALL OUT,NaN,1,1374,54.96,1425,57.00,Player15,NaN,0.87,0.29,1.05,0.17
4,PASS,NaN,1,7334,293.36,7387,295.48,Player18,Player15,0.24,0.02,0.38,0.08

In [12]:
player_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109 entries, 0 to 108
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Type            109 non-null    object
 1   Subtype         51 non-null     object
 2   Period          109 non-null    int64
 3   Start Frame     109 non-null    int64
 4   Start Time [s]  109 non-null    float64
 5   End Frame       109 non-null    int64
 6   End Time [s]    109 non-null    float64
 7   From            109 non-null    object
 8   To              57 non-null     object
 9   Start X         108 non-null    float64
 10  Start Y         108 non-null    float64
 11  End X           74 non-null     float64
 12  End Y           74 non-null     float64
dtypes: float64(6), int64(3), object(4)
memory usage: 11.2+ KB

In [19]:
event_like = player_events[[
    'Type',
    'Subtype', 
    'Start Frame',
    'Start X', 
    'Start Y'
    ]].rename(columns={
        'Type': 'event_type',
        'Subtype': 'event_subtype',
        'Start Frame': 'frame',
        'Start X': 'x',
        'Start Y': 'y'
    })
event_like.head()

  event_type event_subtype  frame     x     y
0       PASS           NaN      3  0.55  0.43
1       PASS           NaN     45  0.55  0.19
2   RECOVERY  INTERCEPTION   1374  0.87  0.29
3   BALL OUT           NaN   1374  0.87  0.29
4       PASS           NaN   7334  0.24  0.02

In [18]:
player_data.head()

   period  Frame  Time [s]  player15_x  player15_y
0       1      1      0.04     0.58393     0.20794
1       1      2      0.08     0.58393     0.20794
2       1      3      0.12     0.58393     0.20794
3       1      4      0.16     0.58351     0.20868
4       1      5      0.20     0.58291     0.21039

In [20]:
player_data = player_data[[
    'Frame',
    'player15_x', 
    'player15_y'
    ]].rename(columns={
        'Frame': 'frame',
        'player15_x': 'x',
        'player15_y': 'y'
    })
player_data.head()

   frame        x        y
0      1  0.58393  0.20794
1      2  0.58393  0.20794
2      3  0.58393  0.20794
3      4  0.58351  0.20868
4      5  0.58291  0.21039

In [24]:
merged_data = player_data.merge(
    event_like,
    on=['frame'],
    how='left',
    suffixes=('_player', '_event')
)
merged_data.head(20)

    frame  x_player  y_player event_type event_subtype  x_event  y_event
0       1   0.58393   0.20794        NaN           NaN      NaN      NaN
1       2   0.58393   0.20794        NaN           NaN      NaN      NaN
2       3   0.58393   0.20794       PASS           NaN     0.55     0.43
3       4   0.58351   0.20868        NaN           NaN      NaN      NaN
4       5   0.58291   0.21039        NaN           NaN      NaN      NaN
5       6   0.58214   0.21123        NaN           NaN      NaN      NaN
6       7   0.58142   0.21166        NaN           NaN      NaN      NaN
7       8   0.58067   0.21182        NaN           NaN      NaN      NaN
8       9   0.57998   0.21176        NaN           NaN      NaN      NaN
9      10   0.57931   0.21151        NaN           NaN      NaN      NaN
10     11   0.57873   0.21075        NaN           NaN      NaN      NaN
11     12   0.57816   0.21007        NaN           NaN      NaN      NaN
12     13   0.57760   0.20929        NaN           NaN      NaN      NaN
13     14   0.57701   0.20828        NaN           NaN      NaN      NaN
14     15   0.57638   0.20744        NaN           NaN      NaN      NaN
15     16   0.57574   0.20661        NaN           NaN      NaN      NaN
16     17   0.57504   0.20556        NaN           NaN      NaN      NaN
17     18   0.57428   0.20464        NaN           NaN      NaN      NaN
18     19   0.57343   0.20364        NaN           NaN      NaN      NaN
19     20   0.57249   0.20276        NaN           NaN      NaN      NaN

In [27]:
merged_event_data = player_data.merge(
    event_like,
    on=['frame'],
    how='right',
    suffixes=('_player', '_event')
)
merged_event_data.head(20)

    frame  x_player  y_player event_type      event_subtype  x_event  y_event
0       3   0.58393   0.20794       PASS                NaN     0.55     0.43
1      45   0.54866   0.18903       PASS                NaN     0.55     0.19
2    1374   0.87192   0.28726   RECOVERY       INTERCEPTION     0.87     0.29
3    1374   0.87192   0.28726   BALL OUT                NaN     0.87     0.29
4    7334   0.41621   0.09467       PASS                NaN     0.24     0.02
5    7404   0.38079   0.07607       PASS                NaN     0.38     0.08
6    8576   0.61626   0.36446  CHALLENGE         AERIAL-WON     0.62     0.36
7    8576   0.61626   0.36446   RECOVERY       INTERCEPTION     0.62     0.36
8    8576   0.61626   0.36446  BALL LOST               HEAD     0.62     0.36
9    8650   0.66171   0.34679   RECOVERY                NaN     0.66     0.35
10   8650   0.66171   0.34679       PASS               HEAD     0.66     0.35
11  10653   0.91003   0.47352   RECOVERY       INTERCEPTION     0.91     0.47
12  10653   0.91003   0.47352  BALL LOST  HEAD-INTERCEPTION     0.91     0.47
13  10761   0.86326   0.46980   RECOVERY       INTERCEPTION     0.86     0.47
14  10761   0.86326   0.46980  BALL LOST        HEAD-FORCED     0.86     0.47
15  13766   0.64450   0.54675   RECOVERY       INTERCEPTION     0.64     0.55
16  13766   0.64450   0.54675  BALL LOST                NaN     0.64     0.55
17  16471   0.80455   0.12520   RECOVERY       INTERCEPTION     0.80     0.13
18  16471   0.80455   0.12520   BALL OUT                NaN     0.80     0.13
19  20182   0.50651   0.11602  CHALLENGE         AERIAL-WON     0.51     0.12

In [33]:
# sanity check
dx_m = (merged_event_data["x_player"] - merged_event_data["x_event"]) * 105
dy_m = (merged_event_data["y_player"] - merged_event_data["y_event"]) * 68
merged_event_data['event_tracking_dist'] = (
    (dx_m) ** 2 +
    (dy_m) ** 2
).apply(lambda x: x ** 0.5)
merged_event_data[['frame', 'event_type', 'event_tracking_dist']].head(20)

    frame event_type  event_tracking_dist
0       3       PASS            15.514667
1      45       PASS             0.155394
2    1374   RECOVERY             0.274514
3    1374   BALL OUT             0.274514
4    7334       PASS            19.186127
5    7404       PASS             0.279818
6    8576  CHALLENGE             0.496177
7    8576   RECOVERY             0.496177
8    8576  BALL LOST             0.496177
9    8650   RECOVERY             0.282638
10   8650       PASS             0.282638
11  10653   RECOVERY             0.239381
12  10653  BALL LOST             0.239381
13  10761   RECOVERY             0.342570
14  10761  BALL LOST             0.342570
15  13766   RECOVERY             0.521629
16  13766  BALL LOST             0.521629
17  16471   RECOVERY             0.578604
18  16471   BALL OUT             0.578604
19  20182  CHALLENGE             0.455556

In [34]:
merged_event_data[['event_tracking_dist']].describe()

       event_tracking_dist
count           108.000000
mean              4.504757
std               7.855553
min               0.019498
25%               0.251160
50%               0.434384
75%               0.578604
max              25.382373

In [36]:
merged_event_data.sort_values(by='event_tracking_dist', ascending=False).head(30)

,frame,x_player,y_player,event_type,event_subtype,x_event,y_event,event_tracking_dist
52,64061,0.50197,0.20503,PASS,NaN,0.27,0.10,25.382373
57,72895,0.25727,0.72464,PASS,NaN,0.34,0.38,24.993629
61,78797,0.45958,0.76921,PASS,NaN,0.41,0.41,24.974878
92,119733,0.09504,0.83325,PASS,GOAL KICK,0.04,0.50,23.386322
22,20904,0.67505,0.35165,PASS,NaN,0.61,0.68,23.349153
42,47204,0.69475,0.38671,PASS,NaN,0.63,0.69,21.715451
40,37027,0.63217,0.33553,PASS,NaN,0.64,0.63,20.040831
70,83000,0.20302,0.80518,PASS,NaN,0.18,0.52,19.542296
59,74853,0.34768,0.76583,PASS,NaN,0.46,0.54,19.362573
99,129412,0.37781,0.82171,PASS,NaN,0.52,1.00,19.232472
4,7334,0.41621,0.09467,PASS,NaN,0.24,0.02,19.186127
75,95464,0.33946,0.60958,PASS,NaN,0.45,0.39,18.911991
32,34298,0.63899,0.21669,PASS,NaN,0.68,0.48,18.415590
80,100965,0.44298,0.76686,PASS,NaN,0.44,0.50,18.149177
86,113498,0.38009,0.55649,PASS,NaN,0.51,0.41,16.890604
55,69563,0.67114,0.35561,PASS,NaN,0.53,0.24,16.775768
46,48061,0.59525,0.26649,PASS,NaN,0.64,0.50,16.559309
30,32434,0.66946,0.25271,PASS,NaN,0.74,0.47,16.528191
0,3,0.58393,0.20794,PASS,NaN,0.55,0.43,15.514667
26,23500,0.50628,0.28856,PASS,NaN,0.52,0.50,14.449910
24,22996,0.59793,0.17838,PASS,NaN,0.59,0.39,14.414229
84,107752,0.09443,0.37889,PASS,NaN,0.11,0.19,12.948144
72,91885,0.37483,0.83333,PASS,NaN,0.48,0.93,12.851312
68,82880,0.17051,0.81153,PASS,NaN,0.10,0.67,12.142269
44,47755,0.41827,0.15728,PASS,NaN,0.31,0.10,12.017101
103,135092,0.35272,0.77668,PASS,NaN,0.37,0.74,3.084361
17,16471,0.80455,0.12520,RECOVERY,INTERCEPTION,0.80,0.13,0.578604
18,16471,0.80455,0.12520,BALL OUT,NaN,0.80,0.13,0.578604
73,91908,0.36503,0.83920,BALL LOST,INTERCEPTION,0.37,0.84,0.524678
16,13766,0.64450,0.54675,BALL LOST,NaN,0.64,0.55,0.521629